@media (max-width: 739px) {
  /* Será aplicado quando o layout estiver abaixo de 740px */

  /* Navbar */
  .menu-nav {
    float: none;
    clear: both;
  }

  /* Introdução */
  .intro {
    padding: 60px 0;
  }

  /* Sobre */
  .sobre-container {
    max-width: 300px;
  }
  .sobre-item {
    width: 300px;
    margin: 0 auto;
  }

  /* Produtos */
  .produtos-container {
    max-width: 300px;
  }
  .produtos-item {
    margin: 0 auto 20px auto;
  }

  /* Locais */
}

@media (min-width: 740px) and (max-width: 980px) {
  /* Será aplicado quando o layout estiver entre 740px a 980px */

  /* Sobre */
  .sobre-container {
    max-width: 720px;
  }
  .sobre-item {
    width: 340px;
  }

  /* Produtos */
  .produtos-container {
    max-width: 720px;
  }
  .produtos-item {
    width: 220px;
  }

  /* Locais */
}
